<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EStoreDAO.Properties.Settings.ESTOREConnectionString"
            connectionString="Data Source=THANHNGUYENDANG\SQLEXPRESS;Initial Catalog=ESTORE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EStoreDAO.Properties.Settings.ESTOREConnectionString1"
            connectionString="Data Source=THANHNGUYENDANG\SQLEXPRESS;Initial Catalog=ESTORE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EStoreDAO.Properties.Settings.ESTOREConnectionString2"
            connectionString="Data Source=THANHNGUYENDANG\SQLEXPRESS;Initial Catalog=ESTORE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="EStoreDAO.Properties.Settings.ESTOREConnectionString1"
          connectionString="Data Source=THANHIT08\SQLEXPRESS;Initial Catalog=ESTORE;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="EStoreDAO.Properties.Settings.ESTOREConnectionString1"
          connectionString="Data Source=NGOCTHUY-PC;Initial Catalog=ESTORE;Integrated Security=True"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>