<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EStoreDAO.Properties.Settings.ESTOREConnectionString"
            connectionString="Data Source=THIETQN\SQLEXPRESS;Initial Catalog=ESTORE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>